.outline {
    outline: 1px solid;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.fw4 {
    font-weight: 400;
}

.lh-copy {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.black-10 {
    color: rgba(0, 0, 0, .1);
}

.black {
    color: #000;
}

.gray {
    color: #777;
}

.pa2 {
    padding: .5rem;
}

.pa3 {
    padding: 1rem;
}

.ml0 {
    margin-left: 0;
}

.mt2 {
    margin-top: .5rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f3 {
    font-size: 1.5rem;
}

.f6 {
    font-size: .875rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-25-m {
        width: 25%;
    }
}

@media screen and (min-width: 60em) {
    .w-20-l {
        width: 20%;
    }
}

.kpop img {
    height: 258px;
}

.lh-copy {
    line-height: 1.5;
}

.mw5 {
    max-width: 16rem;
}

.bg-light-gray {
    background-color: #eee;
}

.pa3 {
    padding: 1rem;
}

.mt0 {
    margin-top: 0;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .mw7-ns {
        max-width: 48rem;
    }

    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.clickable {
    cursor: pointer;
}

.disintegrate-container > canvas {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
    transition: transform 1s ease-out, opacity 1s ease-out;
    transition: transform 1s ease-out, opacity 1s ease-out, -webkit-transform 1s ease-out;
    opacity: 1;
    -webkit-transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
    transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
}

@-webkit-keyframes debug-pulse {
    0% {
        -webkit-filter: none;
        filter: none;
    }
    95% {
        -webkit-filter: none;
        filter: none;
    }
    95% {
        -webkit-filter: drop-shadow(0 1px 0 red);
        filter: drop-shadow(0 1px 0 red);
    }
    100% {
        -webkit-filter: drop-shadow(0 1px 0 red);
        filter: drop-shadow(0 1px 0 red);
    }
}

@keyframes debug-pulse {
    0% {
        -webkit-filter: none;
        filter: none;
    }
    95% {
        -webkit-filter: none;
        filter: none;
    }
    95% {
        -webkit-filter: drop-shadow(0 1px 0 red);
        filter: drop-shadow(0 1px 0 red);
    }
    100% {
        -webkit-filter: drop-shadow(0 1px 0 red);
        filter: drop-shadow(0 1px 0 red);
    }
}

/* make sure we can position canvas' on top of elm */
.disintegrated {
    position: relative;
}
/* also hide all content in elm */
.disintegrated > *:not(.disintegration-container) {
    visibility: hidden;
}

/* position canvas' on top of elm */
.disintegration-container {
    position: absolute;
    left: 0;
    top: 0;
}
/* position canvas' and set their transitions */
.disintegration-container canvas {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: transform 1s, opacity 1s;
    transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.mid-gray {
    color: #555;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mt3 {
    margin-top: 1rem;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .ph5-m {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 60em) {
    .ph6-l {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

.gauntlet-text {
    color: #007acc;
    font-weight: bold;
}

a.db.link.dim.tc > img {
    object-fit: cover;
}